{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    Principal
{% endblock title %}

{% block codigoDinamico %}

<div class="container">

    <div class="banner">
        <h1>Bienvenidos a French!!</h1>
        <p>Que nuestra comida sea de su agrado.</p>
    </div>
    <br> <br>

    <!--Carousel  de imagenes -->
    <div id="testimoniosCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="col-8 mx-auto">
                    <img src="{% static 'App/imagenes/asado.jpg' %}" class="d-block w-100" alt="Testimonio Nuestras Carnes.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestras Carnes."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-8 mx-auto">
                    <img src="{% static 'App/imagenes/pastas.jpg' %}" class="d-block w-100" alt="Testimonio Nuestras Pastas.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestras Pastas."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-7 mx-auto">
                    <img src="{% static 'App/imagenes/cafe.jpg' %}" class="d-block w-100" alt="Testimonio Nuestros Cafe.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestros Cafe."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-8 mx-auto">
                    <img src="{% static 'App/imagenes/flan.jpg' %}" class="d-block w-100" alt="Nuestros Flanes.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestros Flanes."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-7 mx-auto">
                    <img src="{% static 'App/imagenes/mousse.jpg' %}" class="d-block w-100" alt="Testimonio Nuestros Helados.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestros helados."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-8 mx-auto">
                    <img src="{% static 'App/imagenes/bebidas.jpg' %}" class="d-block w-100" alt="Testimonio Nuestras Bebidas.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestras Bebidas."</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-8 mx-auto">
                    <img src="{% static 'App/imagenes/tragos.jpg' %}" class="d-block w-100" alt="Testimonio Nuestros Tragos.">
                    <div class="carousel-caption d-block">
                        <p>"Nuestros Tragos."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Carousel de Testimonios -->
    <div class="carousel-container">
        <div id="testimoniosCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonio">
                        <p>"Todo muy rico!"</p>
                        <p><strong>- Jose Fernandez</strong></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <p>"Excelente la comida y la atención, sin dudas volveremos!"</p>
                        <p><strong>- Mariana Gimenez</strong></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <p>"Muy buena la comida y buenos precios"</p>
                        <p><strong>-Sebastian Fernandez</strong></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <p>"Todo muy rico y muy lindo lugar"</p>
                        <p><strong>-Belen Martinez</strong></p>
                    </div>  
                </div>
            </div>
        </div>

        <div class="cta mt-5 text-center">
            <h2>¡Nuestras Promociones!</h2>
        </div>
        <!-- Carousel de Ofertas -->
        <div id="ofertasCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="oferta">
                        <p>¡15% de descuento Abonando en efectivo!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="oferta">
                        <p>¡10% de descuento abonando con debito/transferencia!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="oferta">
                        <p>¡20% de descuento todos los domingos con Cuenta Dni</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Formas de Pago -->
    <div class="como-funciona mt-5">
        <h2 class="text-center mb-4">Formas de Pago</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body paso bg-primary text-white rounded">
                        <h3 class="card-title">1. Pago en Efectivo</h3>
                        <p class="card-text">Pagando en efectivo tendrás un 15% de descuento.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body paso bg-success text-white rounded">
                        <h3 class="card-title">2. Pago con Tarjeta de Débito o QR</h3>
                        <p class="card-text">Pagando con débito o QR, el precio del menú.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body paso bg-danger text-white rounded">
                        <h3 class="card-title">3. Pago con Tarjeta de Crédito</h3>
                        <p class="card-text">Pagando con crédito tendrás un recargo del 10%.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <!-- Preguntas Frecuentes -->
    <div class="faq mt-5">
        <h2>Cómo se usa y Preguntas Frecuentes</h2>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <div class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Qué platos ofrecen?
                        </button>
                    </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Ofrecemos una gran variedad de carnes, pastas, ensaladas, postres y bebidas.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <div class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Se pueden hacer reservas?
                        </button>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Sí, puedes hacer reservas llamándonos al número de contacto o a través de nuestra página web.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Realizan entregas a domicilio?
                        </button>
                    </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Sí, ofrecemos servicio de delivery para que disfrutes nuestra comida en la comodidad de tu hogar.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $('.carousel').carousel({
        interval: 3000
    });
</script>

{% endblock %}
